/** @format */

// $primary: red;
$enable-negative-margins: true;

// Import all of Bootstrap's CSS
@import "bootstrap/scss/bootstrap";

// Import google's Saira fonts
@import url("https://fonts.googleapis.com/css2?family=Saira+Extra+Condensed:wght@100&display=swap");

// Import all of Prism's theme
@import "../../node_modules/prismjs/themes/prism-okaidia.min.css";

// Import Prims's plugins
@import "../../node_modules/prismjs/plugins/line-numbers/prism-line-numbers.min.css";
@import "../../node_modules/prismjs/plugins/toolbar/prism-toolbar.min.css";
@import "../../node_modules/prismjs/plugins/match-braces/prism-match-braces.min.css";
@import "../../node_modules/prismjs/plugins/line-highlight/prism-line-highlight.min.css";

html {
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
  font-size: 1rem;
}

h1,
h2,
h3 {
  font-weight: bold;
  font-family: "Saira Extra Condensed", sans-serif;
  text-transform: uppercase;
  text-wrap: balance;
  color: #0d6efd;
}

h4,
h5,
h6 {
  font-size: 2rem;
  font-family: "Saira Extra Condensed", sans-serif;
  text-transform: uppercase;
  text-wrap: balance;
  color: #6ea8fe;
  font-size: 1, 5rem;
}

h1 {
  font-size: 3.5rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2.5rem;
}

h4 {
  font-size: 2rem;
}

h5 {
  font-size: 1.5rem;
}

h6 {
  font-size: 1rem;
}

.gris {
  color: #dee2e6;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.text_saira {
  font-family: "Saira Extra Condensed", sans-serif;
}

.text_big {
  font-size: 6rem;
  margin-top: -5px;
}

.text_big2 {
  font-size: 2rem;
}

.icon_size {
  font-size: 6rem;
}

.tituloCard {
  height: 9rem;
}

// formulario
form {
  padding: 20px 55px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
  border-radius: 20px;
}

input,
textarea {
  padding: 10px 20px;
  background-color: lightgrey;
  color: black;
  // outline: none;
}

input::placeholder,
textarea::placeholder {
  color: #4b514c;
}

.btn {
  background-color: lightgrey;
  color: black;
}

.btn:hover {
  background-color: grey;
}

//  botón to top
#myBtnScroll {
  position: fixed;
  bottom: 20px;
  right: 25px;
  width: 48px;
  height: 48px;
  cursor: pointer;
  display: none;
  transition: 0.9s;
  padding: 10px;
  background: #333;
  color: rgb(204, 203, 203);
  border-radius: 5px;
  border: 0;
}

#myBtnScroll2 {
  background: #333;
  color: rgb(204, 203, 203);
  border-radius: 5px;
  border: none;
  width: 48px;
  height: 48px;
  cursor: pointer;
  transition: 0.9s;
  padding: 10px;
}

#myBtnScroll:hover {
  background-color: #555;
}

p {
  text-wrap: pretty;
  margin-top: 0;
  margin-bottom: 1rem;
}

.imagen {
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}

.ancla {
  color: inherit;
  /* Hereda el color del elemento padre */
  text-decoration: none;
  /* Elimina el subrayado */
}

.ancla:hover {
  color: inherit;
  /* Controla el color cuando el enlace es hover */
  text-decoration: none;
  /* Evita el subrayado en hover */
}

.miTabla {
  width: 80%;
  height: auto;
}

.miCol20 {
  width: 20%;
  height: auto;
}

.miCol40 {
  width: 40%;
  height: auto;
}

code {
  color: #6ea8fe;
  font-size: 1.1rem;
  padding: 2px 1px;
  background: #333;
  border-radius: 6px;
}

/* Barra de navegación */
nav {
  background-color: rgb(56, 56, 56);
  font-size: 0.9rem;
}

/*  */
.navbar-toggler-icon {
  border: 0 !important;
}

/* item del la lateral */
.list-group-item,
.list-unstyled {
  font-size: 0.8rem;
}

/* aside */
aside {
  position: fixed;
  top: 0;
  right: 0;
  height: 100dvh;
  overflow-y: auto;
  padding-bottom: 5px;
  display: flex;
  flex-direction: column;
}

.barraLateral {
  overflow-y: auto;
  flex-grow: 1;
  /* Ocupa todo el espacio disponible del aside */
  margin-top: 0;
  /* ← Asegura que no haya margen */
  padding-top: 0;
  /* ← Asegura que no haya relleno */
}

.barraLateral:hover {
  background-color: #0d6efd;
  color: #ffffff;
}

.barraLateral * {
  margin-top: 0;
  padding-top: 0;
}

aside h1 {
  flex-shrink: 0;
  /* Evita que el título se comprima */
  margin-bottom: 0rem;
  position: sticky;
  top: 0;
  z-index: 10;
  /* Asegura que quede sobre el contenido que se desplaza */
  padding: 0.5rem 0;
  z-index: 2;
  background-color: #212529;
}

.barraLateral:hover code {
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.2);
  /* Fondo semitransparente para destacar */
  padding: 5px 4px;
  border-radius: 4px;
}

/* iconos */
.icons {
  width: 127px;
  height: 127px;
}

/* Contador de filas tablas índice */
tbody {
  counter-reset: rowCounter;
}

tbody tr td:first-child::before {
  content: counter(rowCounter) ".";
  counter-increment: rowCounter;
  padding-right: 10px;
  display: inline-block;
}

pre {
  border: 3px solid grey;
  border-radius: 1%;
}

strong {
  font-weight: bold;
  color: orange;
}

/* listas */
.list-no-bullets {
  list-style: none;
  padding-left: 0;
}

.list-no-bullets>li {
  list-style: none;
  padding-left: 15px;
  /* Espaciado para sublistas */
}


/* Fonts titilando */
.text-blink-yellow {
  color: yellow;
  animation: blinkRed 1s infinite;
}

@keyframes blinkRed {
  0% {
    color: yellow;
  }

  50% {
    color: transparent;
  }

  100% {
    color: yellow;
  }
}