/** @format */

// $primary: red;
$enable-negative-margins: true;

// Import all of Bootstrap's CSS
@import "bootstrap/scss/bootstrap";

// Import google's Saira fonts
@import url("https://fonts.googleapis.com/css2?family=Saira+Extra+Condensed:wght@100&display=swap");

// Import all of Prism's theme
@import "../../node_modules/prismjs/themes/prism-coy.css";

// Import Prims's plugins
@import "../../node_modules/prismjs/plugins/line-numbers/prism-line-numbers.min.css";
@import "../../node_modules/prismjs/plugins/toolbar/prism-toolbar.min.css";
@import "../../node_modules/prismjs/plugins/match-braces/prism-match-braces.min.css";
@import "../../node_modules/prismjs/plugins/line-highlight/prism-line-highlight.min.css";

html {
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
  font-size: 1rem;
}

h1,
h2,
h3 {
  font-weight: bold;
  font-family: "Saira Extra Condensed", sans-serif;
  text-transform: uppercase;
  text-wrap: balance;
  color: #0d6efd;
}
h4,
h5,
h6 {
  font-size: 2rem;
  font-family: "Saira Extra Condensed", sans-serif;
  text-transform: uppercase;
  text-wrap: balance;
  color: #6ea8fe;
  font-size: 1, 5rem;
}

h1 {
  font-size: 3.5rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2.5rem;
}

h4 {
  font-size: 2rem;
}

h5 {
  font-size: 1.5rem;
}

h6 {
  font-size: 1rem;
}

.gris {
  color: #dee2e6;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.text_saira {
  font-family: "Saira Extra Condensed", sans-serif;
}

.text_big {
  font-size: 6rem;
  margin-top: -5px;
}

.text_big2 {
  font-size: 2rem;
}

.icon_size {
  font-size: 6rem;
}

.tituloCard {
  height: 9rem;
}

// formulario
form {
  padding: 20px 55px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
  border-radius: 20px;
}

input,
textarea {
  padding: 10px 20px;
  background-color: lightgrey;
  color: black;
  // outline: none;
}

input::placeholder,
textarea::placeholder {
  color: #4b514c;
}

.btn {
  background-color: lightgrey;
  color: black;
}

.btn:hover {
  background-color: grey;
}

//  botón to top
#myBtnScroll {
  position: fixed;
  bottom: 20px;
  right: 25px;
  background: #333;
  color: rgb(204, 203, 203);
  border-radius: 5px;
  border: none;
  width: 48px;
  height: 48px;
  cursor: pointer;
  display: none;
  transition: 0.9s;
  padding: 10px;
}

#myBtnScroll:hover {
  background-color: #555;
  cursor: pointer;
}

p {
  text-wrap: pretty;
  margin-top: 0;
  margin-bottom: 1rem;
}

.imagen {
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}
